<head>
    <meta charset="UTF-8">
</head>
<div class="container-fluid" ng-controller="NodesController" data-ng-init="getNodes()">

    <div id="nodes-info-error-not-deleted" class="alert alert-danger alert-dismissible fade in" style="display: none">
        <a class="close" onclick="$('#nodes-info-error-not-deleted').hide()">×</a>
        <strong>Błąd!</strong> Spróbuj ponownie.
    </div>

    <div id="nodes-info-sucessfully-deleted" class="alert alert-success alert-dismissible fade in" style="display: none">
        <a class="close" onclick="$('#nodes-info-sucessfully-deleted').hide()">×</a>
        <strong>Sukces!</strong> Pomyślnie usunięto.
    </div>

    <div id="nodes-info-error" class="alert alert-danger alert-dismissible fade in" style="display: none">
        <a class="close" onclick="$('#nodes-info-error').hide()">×</a>
        <strong>Błąd!</strong> <span id="nodes-info-error-text"></span>
    </div>

    <div class="container-fluid" style="margin-bottom: 15px;">
        <button type="submit" class="btn-success btn-sm btn" ng-click="getNodes()">Odśwież listę</button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newNodeModal" ng-click="clearNodeForm()">Dodaj nowe urządzenie</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newNodeModal" tabindex="-1" role="dialog" aria-labelledby="addEditNodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEditNodeModalLabel">Dodaj nowe urządzenie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container-fluid">
                    <!--contnt begin-->

                    <form class="form-horizontal container-fluid" name="serverForm">

                        <div class="row form-group">
                            <label for="nodeName" class="control-label col-xs-3">Nazwa</label>
                            <div class="col-xs-9">
                                <input id="nodeName" name="nodeName" placeholder="Wpisz nazwę..." type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="nodeIdentifier" class="control-label col-xs-3">Identyfikator</label>
                            <div class="col-xs-9">
                                <input id="nodeIdentifier" name="nodeIdentifier" placeholder="Podaj identyfikator...." type="text" class="form-control" aria-describedby="nodeIfentifierHelpBlock">
                                <span id="nodeIfentifierHelpBlock" class="help-block">Identyfikator powinien być unikalny oraz powinien zgadzać się z identyfikatorem urządzenia.</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="nodeLogin" class="control-label col-xs-3">Login urządzenia</label>
                            <div class="col-xs-9">
                                <input id="nodeLogin" name="nodeLogin" placeholder="Wpisz login urządzenia..." type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="nodePassword" class="control-label col-xs-3">Hasło urządzenia</label>
                            <div class="col-xs-9">
                                <input id="nodePassword" name="nodePassword" placeholder="Wpisz hasło urządzenia..." type="text" class="form-control">
                            </div>
                        </div>
                        <!--TODO migrate select to angular-->
                        <div class="frow form-group">
                            <label for="nodeType" class="control-label col-xs-3">Wybierz rodzaj</label>
                            <div class="col-xs-9">
                                <select id="nodeType" name="nodeType" class="select form-control" ng-model="nodeType" ng-change="nodeTypeChanged()">
                                    <option value="nodeSensor">Czujnik</option>
                                    <option value="nodeActuator">Sterownik</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" id="selectSensorType" style="display: none;">
                                <label for="sensorType" class="control-label col-xs-3">Sprecyzuj:</label>
                                <div class="col-xs-9">
                                    <select id="sensorType" name="sensorType" class="select form-control" ng-model="sensorType" ng-change="exactNodeTypeChanged()">
                                        <option value="nodeSensorTemperature">Czujnik temperatury</option>
                                        <option value="nodeSensorSun">Czujnik oświetlenia</option>
                                        <option value="nodeSensorPir">Czujnik ruchu</option>
                                        <option value="nodeSensorHumidity">Czujnik wilgotności</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" id="selectActuatorType" style="display: none;">
                                <label for="actuatorType" class="control-label col-xs-3">Sprecyzuj:</label>
                                <div class="col-xs-9">
                                    <select id="actuatorType" name="actuatorType" class="select form-control" ng-model="actuatorType" ng-change="exactNodeTypeChanged()">
                                        <option value="nodeActuatorRelay1">Przekaźnik 1</option>
                                        <option value="nodeActuatorRelay2">Przekaźnik 2</option>
                                        <option value="nodeActuatorRelay4">Przekaźnik 4</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row form-group">
                                <label for="nodeIP" class="control-label col-xs-3">Adres IP</label>
                                <div class="col-xs-9">
                                    <input id="nodeIP" name="nodeIP" placeholder="Wpisz adres IP..." type="text" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="nodeGatewayIP" class="control-label col-xs-3">Adres IP bramy</label>
                                <div class="col-xs-9">
                                    <input id="nodeGatewayIP" name="nodeGatewayIP" placeholder="Wpisz adres IP..." type="text" class="form-control">
                                </div>
                            </div>


                        </div>
                    </form>

                    <!--content end-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" ng-click="processAddEditNodeButton();" data-dismiss="modal">Wyślij</button>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <table class="table table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Identyfikator</th>
                <th>Typ</th>
                <th>Rodzaj urządzenia</th>
                <th>Adres IP</th>
                <th>Adres IP gateway</th>
                <th>Akcje</th>
            </tr>
            <tr ng-repeat="node in nodes | orderBy: 'id'">
                <td>{{ node.name }}</td>
                <td>{{ node.identifier }}</td>
                <td>{{ node.type }}</td>
                <td>{{ node.exactType }}</td>
                <td>{{ node.ipAddress }}</td>
                <td>{{ node.gatewayAddress }}</td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary" ng-click="editNodePrefillForm(node.id)" data-toggle="modal" data-target="#newNodeModal">Edytuj</button>
                    <button type="submit" class="btn btn-sm btn-danger" ng-click="deleteNode(node.id)">Usuń</button>
                </td>
            </tr>
        </table>
    </div>
</div>