<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<div class="container-fluid bootstrap snippet" ng-controller="UserController" data-ng-init="initController()">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4" style="text-align: center;">
                <img alt="User picture" style="width:260px;" title="" class="img-circle img-thumbnail" ng-src="{{ userData.photoUrl }}">
            </div>
            <div class="col-md-6">
                <strong style="font-size: 1.25em;">Moje dane:</strong>
                <div class="table-responsive" style="padding-top: 10px;">
                    <table class="table table-condensed table-responsive table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user text-primary"></span> Imie
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.name"></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span> Nazwisko
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.lastname"></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span> Płeć
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.genderDictionary"></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span> Email
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.email"></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> Rola w systemie
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.roleDictionary"></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Data urodzenia
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.birthdateFormated"></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Data ostatniego udanego logowania
                                    </strong>
                                </td>
                                <td class="text-primary" ng-bind="userData.lastValidLogin"></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Data ostatniego nieudanego logowania
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ userData.lastInvalidLogin }}
                                    <span class="glyphicon glyphicon-warning-sign text-primary red"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--END OF PANEL-->




    <div class="container-fluid" style="text-align: center;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                ng-click="createCopyOfUserToEdit()" data-target="#userEditModal">
            Edytuj swoje dane
        </button>

        <!-- Modal edit user -->
        <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userEditModalLabel">Podaj nowe dane</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--modal body begin-->
                        <form class="form-horizontal container-fluid" name="editUserForm" novalidate>
                            <!--novalidate prevents HTML5 validation-->

                            <div class="row form-group" ng-class="{ 'has-error' : editUserForm.userName.$invalid && !editUserForm.userName.$pristine }">
                                <label for="userName" class="control-label col-xs-3">Imię</label>
                                <div class="col-xs-9">
                                    <input name="userName" value="{{userData.name}}" ng-model="userData.name" type="text" class="form-control" required>
                                    <p ng-show="editUserForm.userName.$invalid && !editUserForm.userName.$pristine"
                                       class="help-block edit-user-form-validation-message">Musisz podać swoje imię.<span class="glyphicon glyphicon-exclamation-sign red"></span></p>
                                </div>
                            </div>

                            <div class="row form-group" ng-class="{ 'has-error' : editUserForm.userName.$invalid && !editUserForm.userName.$pristine }">
                                <label for="userLastname" class="control-label col-xs-3">Nazwisko</label>
                                <div class="col-xs-9">
                                    <input name="userLastname" value="{{userData.lastname}}" ng-model="userData.lastname" type="text" class="form-control" required>
                                    <p ng-show="editUserForm.userLastname.$invalid && !editUserForm.userLastname.$pristine"
                                       class="help-block edit-user-form-validation-message">Musisz podać swoje nazwisko.<span class="glyphicon glyphicon-exclamation-sign red"></span></p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="userGender" class="control-label col-xs-3">Płeć</label>
                                <div class="col-xs-9">
                                    <select name="userGender" class="form-control"
                                            ng-model="userToEdit.gender"
                                            ng-options="option.value as option.dictionary for option in genderDictionary"></select>
                                </div>
                            </div>

                            <div class="row form-group" ng-class="{ 'has-error' : editUserForm.userName.$invalid && !editUserForm.userName.$pristine }">
                                <label for="userEmail" class="control-label col-xs-3">Adres e-mail</label>
                                <div class="col-xs-9">
                                    <input name="userEmail" value="{{userData.email}}" ng-model="userData.email" type="email" class="form-control" required>
                                    <p ng-show="editUserForm.userEmail.$invalid && !editUserForm.userEmail.$pristine"
                                       class="help-block edit-user-form-validation-message">Email nie jest prawidłowy.<span class="glyphicon glyphicon-exclamation-sign red"></span></p>
                                </div>
                            </div>

                            <!--TODO validate password-->
                            <div class="row form-group" ng-class="{ 'has-error' : editUserForm.userName.$invalid && !editUserForm.userName.$pristine }">
                                <label for="userPassword" class="control-label col-xs-3">Hasło</label>
                                <div class="col-xs-9">
                                    <input name="userPassword" value="{{userData.password}}" ng-model="userData.password" type="password" class="form-control" required ng-minlength="5" ng-maxlength="20">
                                    <p ng-show="editUserForm.userPassword.$invalid && !editUserForm.userPassword.$pristine"
                                       class="help-block edit-user-form-validation-message">Hasło musi zawierać od 5 do 20 znaków.<span class="glyphicon glyphicon-exclamation-sign red"></span></p>
                                </div>
                            </div>

                            <!--TODO add calendar-->
                            <div class="row form-group">
                                <label for="userBirthdate" class="control-label col-xs-3">Data urodzenia</label>
                                <div class="col-xs-9">
                                    <input name="userBirthdate" value="{{userData.birthdateFormated}}" 
                                           ng-model="userData.birthdateFormated" type="text" class="form-control date-picker-anchor">
                                </div>
                            </div>
                        </form>

                        <!--photo uploader form-->
                        <div class="row form-group">
                            <label for="userPhotoUrl" class="control-label col-xs-3">Zdjęcie profilowe</label>
                            <div class="col-xs-7">
                                <form id="avatarUploadForm" enctype="multipart/form-data" name="avatarUploadForm" novalidate>
                                    <div style="text-align: center;">

                                        <label class="btn btn-default btn-file">
                                            Wybierz plik
                                            <input name="file" type="file" accept=".jpg, .jpeg, .png .gif" style="display: none;" required />
                                        </label>

                                        <div ng-show="isAvatarUploaded">
                                            <img alt="User picture" style="width:260px;" title=""
                                                 class="avatar-edit-thumbnail" ng-src="{{ uploadedAvatarUrl }}" />
                                            <button type="button" class="close" style="margin-top: 20px;" aria-label="Close" ng-click="isAvatarUploaded = false">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-2">
                                <input type="button" class="btn btn-primary btn-sm" ng-click="uploadFile()" value="Upload" />
                            </div>
                        </div>


                        <!--modal body end-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-primary" ng-disabled="editUserForm.$invalid" ng-click="editUser();" data-dismiss="modal">Zapisz zmiany</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
