<html ng-app="smartHomeApp" lang="pl">
<head>
    <link href="css/bundle.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="RootController">
        <div class="nav-side-menu">
            <div class="brand">Smart Home</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#!"><i class="fa fa-chart-bar fa-lg"></i> Dane z czujników</a>
                    </li>

                    <li>
                        <a href="#!no"><i class="fa fa-sitemap fa-lg"></i> Sterowanie</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div class="panel panel-default">
                <div class="panel-heading" id="view-title">Strona główna</div>
                <div class="panel-body">
                    {{ test }}
                    <main>
                        <div ng-view></div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bundle.js"></script>
</body>
</html>