<!DOCTYPE html>
<html ng-app="smartHomeApp" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Smart home controller - beta 1.00 development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style/chartStyle.css">
    <link rel="stylesheet" type="text/css" href="style/mainStyle.css">
    <script src="node_modules/chart.js/dist/Chart.js"></script>
    <script src="scripts/Vendors/html5-sortable.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.js"></script>

    <script src="scripts/AngularModule.js"></script>
    <script src="scripts/AngularDirectives.js"></script>
    <script src="scripts//UserController.js"></script>
    <script src="scripts/ChartsController.js"></script>
    <script src="scripts/NodesController.js"></script>

</head>
<body ng-controller="HomeController">

    <!--
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Smart home, your home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!charts">Wykresy</a></li>
                    <li><a href="#!control">Twoje urządzenia</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Panel administratora<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#!users">Użytkownicy systemu</a></li>
                            <li class="divider"></li>
                            <li><a href="#!nodes">Moduły IoT</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="user_panel" class="navbar-form navbar-right" style="display: none; min-width: 400px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="user_name" class="col-md-8" style="text-align: right; font-weight: 600; padding-top: 8px;"></div>
                            <div id="user_name" class="col-md-4">
                                <button id="button_logout" type="button" class="btn btn-primary" ng-click="logout()">Wyloguj mnie</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="login_form">
                    <form id="signin" class="navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="text" ng-model="username" class="form-control" name="email" value="" placeholder="Login">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" ng-model="password" class="form-control" name="password" value="" placeholder="Password">
                        </div>
                        <button id="button_login" type="button" class="btn btn-primary" ng-click="login()">Zaloguj</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
        -->
    <div class="nav-side-menu">
        <div class="brand">Smart Home</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#!charts" onclick="ChangeMainPanelName('charts')"><i class="fa fa-chart-bar fa-lg"></i> Dane z czujników</a>
                </li>

                <li>
                    <a href="#!control" onclick="ChangeMainPanelName('control')"><i class="fa fa-sitemap fa-lg"></i> Sterowanie</a>
                </li>

                <li data-toggle="collapse" data-target="#admin-panel" class="collapsed">
                    <a href="javascript:void(0)"><i class="fa fa-globe fa-lg"></i>Panel sterowania<i class="fa fa-sort-down fa-lg" style="float: right;"></i></a>
                </li>
                <ul class="sub-menu collapse" id="admin-panel">
                    <li><a href="#!nodes"  onclick="ChangeMainPanelName('nodes')"><i class="fas fa-caret-right"></i> Dodaj urządzenie</a></li>
                    <li><a href="#!new-device-type"  onclick="ChangeMainPanelName('new-device-type')"><i class="fas fa-caret-right"></i> Dodaj nowy typ</a></li>
                    <li><a href="#!users" onclick="ChangeMainPanelName('users')"><i class="fas fa-caret-right"></i> Użytkownicy systemu</a></li>
                </ul>
                <li>
                    <a href="#!my-profile" onclick="ChangeMainPanelName('my-profile')"><i class="fa fa-user fa-lg"></i> Mój profil</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sign-out-alt fa-lg"></i> Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <div class="panel panel-default">
            <div class="panel-heading" id="view-title">Strona główna</div>
            <div class="panel-body">
                <main>
                    <div ng-view></div>
                </main>
            </div>
        </div>
    </div>

</body>
</html>