<!DOCTYPE html>
<html ng-app="smartHomeApp" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Smart home controller</title>

    <link rel="stylesheet" type="text/css" href="style/chartStyle.css">
    <link rel="stylesheet" type="text/css" href="style/mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="node_modules/chart.js/dist/Chart.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.js"></script>

    <script src="scripts/angularModule.js"></script>
    <script src="scripts/chartsController.js"></script>
    <script src="scripts/nodesController.js"></script>
</head>
<body ng-controller="homeController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Smart home, your home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!charts">Wykresy</a></li>
                    <li><a href="#!control">Twoje urządzenia</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Panel administratora<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#!users">Użytkownicy systemu</a></li>
                            <li class="divider"></li>
                            <li><a href="#!nodes">Moduły IoT</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="user_panel" class="navbar-form navbar-right" style="display: none; min-width: 400px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="user_name" class="col-md-8" style="text-align: right; font-weight: 600; padding-top: 8px;"></div>
                            <div id="user_name" class="col-md-4">
                                <button id="button_logout" type="button" class="btn btn-primary" ng-click="logout()">Wyloguj mnie</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="login_form">
                    <form id="signin" class="navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="text" ng-model="username" class="form-control" name="email" value="" placeholder="Login">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" ng-model="password" class="form-control" name="password" value="" placeholder="Password">
                        </div>
                        <button id="button_login" type="button" class="btn btn-primary" ng-click="login()">Zaloguj</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div ng-view></div>
    </main>
</body>
</html>